.accordion-item-wrapper {
  width: 600px;
  margin: 0 auto;
}

.accordion-item {
  width: 100%;
  background-color: lightblue;
}

h3 {
  margin: 0;
}

p {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  margin: 0;
}

.accordion-header {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  margin: 0;
}
